// 编辑器容器样式
$editor-padding: 16px;

.lexical__outer {
  position: relative;
  // A4
  width: 210mm;
  margin: 32px auto;
}

.lexical__root {
  // A4
  min-height: 297mm;
  padding: $editor-padding;
  outline: none;
  box-shadow: 0 0 5px 2px rgba(#000, 0.1);
}

.lexical__placeholder {
  position: absolute;
  left: $editor-padding + 8px;
  top: $editor-padding + 4px;
  color: #ddd;
  pointer-events: none;
}
